#integrationSlide
  .section-container
    justify-content: center
    +small-laptop
      height: auto
      min-height: auto
      padding-top: 126px
      padding-bottom: 136px

  .single-triangle
    display: none
    position: relative
    align-items: center
    height: 500px
    width: 320px
    border-left: 320px solid #01da00
    border-top: 320px solid transparent
    border-bottom: 320px solid transparent
    margin-left: -27px
    +mobile
      display: flex
    +tablet
      display: flex
      margin: 0 auto
      height: 684px
      width: 375px
      border-left: 375px solid #01da00
      border-top: 375px solid transparent
      border-bottom: 375px solid transparent
      margin-left: 90px

    h2
      font-family: $gothamPro-Bold
      font-size: 40px
      font-weight: bold
      font-stretch: normal
      font-style: normal
      line-height: 1
      letter-spacing: -1.7px
      position: absolute
      left: -285px
      top: -240px
      +tablet
        font-size: 60px
        line-height: 1px
        letter-spacing: -1.28
        left: unset
        right: 77px
      +small-laptop
        font-size: 60px
      +medium-laptop


    .custom-list
      white-space: nowrap
      position: absolute
      z-index: 2
      top: -100px
      left: -320px
      width: 280px
      font-size: 16px
      list-style: none
      padding-left: 40px
      +mobile
        top: -140px
        span
          max-width: 234px
          white-space: initial
      +tablet
        width: 430px
        span
          max-width: 234px
          white-space: initial
          font-size: 14px
          line-height: 1.57

      li
        font-size: 16px
        font-weight: 300
        line-height: 1.57
        letter-spacing: normal
        padding-left: 30px
        position: relative
        margin-bottom: 40px
        +small-laptop
          font-size: 14px
        &:before
          content: ''
          display: block
          position: absolute
          width: 8px
          height: 8px
          background-color: $plain-black
          left: 0
          top: 6px
          +tablet
            width: 10px
            height: 10px
            top: 8px

  .figure-wrapper
    display: flex
    justify-content: center
    padding-left: 100px
    position: relative
    +mobile
      display: none
    +tablet
      display: none
    +small-laptop
      padding-left: 105px

    h2
      font-size: 80px
      font-family: $gothamPro-Bold
      font-weight: bold
      font-stretch: normal
      font-style: normal
      line-height: 1
      letter-spacing: -1.7px
      position: absolute
      left: 280px
      top: 80px
      +small-laptop
        font-size: 60px
        letter-spacing: -1.28px
        font-family: $gothamPro-Bold
        left: -10px
      +medium-laptop
        left: 30px

    .triangle-right
      width: 334px
      height: 614px
      border-left: 334px solid #01da00
      border-top: 334px solid transparent
      border-bottom: 334px solid transparent
      position: relative
      +small-laptop
        width: 276px
        height: 507px
        border-left: 276px solid #01da00
        border-top: 276px solid transparentintegrationExperienceSlide
        border-bottom: 276px solid transparent

      .custom-list
        white-space: nowrap
        position: absolute
        z-index: 2
        top: 50px
        right: 20px
        width: 222px
        font-size: 16px
        list-style: none
        padding-left: 40px
        +small-laptop
          right: 10px
          padding-left: 24px

        li
          font-size: 16px
          font-weight: normal
          font-stretch: normal
          font-style: normal
          line-height: 1.5
          letter-spacing: normal
          +small-laptop
            font-size: 14px
        &:before
          content: ''
          display: block
          position: absolute
          width: 14px
          height: 14px
          background-color: $plain-black
          left: 0
          top: 3px
          +small-laptop
            top: 5px
            width: 10px
            height: 10px
