.bg-black
  background-color: $plain-black
.bg-main
  background-color: $main-color

.section-container
  display: flex
  width: 100%
  min-height: 100%
  height: auto
  padding: 52px 70px
  position: relative
  flex-flow: column
  justify-content: space-between
  overflow: hidden
  +mobile
    padding: 20px 24px
    min-height: 100%
    height: auto
  +small-laptop
    padding-left: 46px

.overflow-wrap
  overflow: hidden

.curtain
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 2
  background-color: $plain-black
  opacity: 1
  animation: curtainDim .8s ease-out 1s forwards normal
  .curtain__container
    height: 100%
    background-color: $main-color
    animation: curtainScroll .8s ease-out .3s forwards
    +mobile
      margin: 0

.white-noise
  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: .15
    z-index: -1
    background: url('../general/dark-noise-constructor.gif')

.dark-noise
  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: .95
    z-index: -1
    background: url('../general/dark-noise-clients.gif')
    transition: all .4s ease-in
  &.lighten
    &:before
      opacity: .15

.column
  display: flex
  flex-direction: column
  &.align-center
    justify-content: center

.object-container
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden
  padding: 0 30px 30px 30px
  +mobile
    width: 100%
    padding: 0
    margin: 52px 0 22px 0
    align-items: flex-start
  +small-laptop
    padding: 0
    flex-shrink: 0

.button
  padding: 10px 20px
  width: 199px
  height: 50px
  color: $plain-black
  font-size: 12px
  font-weight: 500
  border: 1px solid $main-color
  cursor: pointer
  letter-spacing: 1.01px
  &.button_main
    background-color: $main-color
    +tablet
      font-size: 14px
    &:hover
      background-color: $main-hover
      border: 1px solid $main-hover
    +mobile
      display: none
    &.mobile
      display: none
      +mobile
        display: block
        background: url('../general/telephon@2x.png') center no-repeat
        background-size: contain
        border: none
        width: 29px
        height: 37px

.video-bg
  position: absolute
  top: 0
  left: 0
  height: 100vh
  width: 100vw
  opacity: .95
  background-color: $plain-black
  background: url('../general/dark-noise.gif')
  video
    height: 100vh
    width: 100vw
    transform: scale(1.4)
    +mobile
      transform: scale(4) translateX(-100px)
    +tablet
      transform: scale(2.8) translateX(-220px)
    +small-laptop
      transform: scale(1.7)

#sectionHeader
  height: 100%
  object-fit: contain
  .section-container
    justify-content: flex-end

  .row
    width: 100%
    display: flex
    justify-content: space-between
    align-items: flex-start



.section-title
  font-size: 61px
  font-family: $gothamPro-Bold
  color: $main-color
  line-height: 1.2
  letter-spacing: -2
  font-weight: 600
  max-width: 826px

  +small-laptop
    font-size: 48px
    line-height: 52px
    letter-spacing: -1.58px

  .dot-highlighted
    position: relative
    display: inline
    //align-items: flex-end
    color: $plain-black
    //margin-right: 28px
    line-height: 46px
    +mobile
      margin-right: 0

    .dot-green
      display: inline-block
      width: 8px
      height: 8px
      background-color: #01da00
      margin-left: -8px
      margin-right: 5px
      margin-bottom: -1px
      +mobile
        width: 5px
        height: 5px
        margin-left: -2px
      +tablet
        width: 8px
        height: 8px
        margin-left: -5px

    &:after
      //content: ''
      display: block
      //position: absolute
      margin-bottom: 12px
      margin-left: 2px
      width: 12px
      height: 12px
      background-color: #01da00
      +mobile
        bottom: 5px
        right: -15px
        width: 8px
        height: 8px

.styled-list
  font-size: 16px
  font-weight: normal
  font-stretch: normal
  font-style: normal
  line-height: 1.5
  letter-spacing: normal
  margin-left: 20px
  +mobile
    padding: 0 24px
    margin: 0
    font-size: 14px
  +tablet
    margin: 0
    font-size: 14px
  +small-laptop
    font-size: 14px

  li
    margin-bottom: 10px
    position: relative
    padding-left: 31px
    &:before
      content: ''
      position: absolute
      display: inline-block
      width: 7px
      height: 7px
      background-color: #000000
      top: 5px
      left: 0

    +mobile
      font-size: 14px
      line-height: 1.57
      font-weight: 300

section
  .section-title
    margin-bottom: 65px
    +mobile
      font-size: 28px
      display: flex
      flex-direction: column
      align-items: flex-start
      margin-bottom: 30px

  .boast-block
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    width: 175px
    height: 176px
    top: 43%
    right: 40px
    cursor: pointer
    +mobile
      width: 76px
      height: 76px
      top: 39%
      right: 30px
    +medium-laptop
      right: 210px

    &__circle
      position: relative
      width: 100%
      height: 100%
      background: url('../general/feature-text.png') center no-repeat
      background-size: cover
    &__rock
      position: absolute
      width: 55px
      height: 90px
      background: url('../general/rock-icon.png') center no-repeat
      background-size: cover
      +mobile
        width: 24px
        height: 39px

    .hover__wrap
      position: absolute
      background-color: #000000
      color: #ffffff
      padding: 25px
      width: 313px
      height: 313px
      display: flex
      align-items: center
      justify-content: center
      border-radius: 50%
      transform: scale(0)
      transition: all .3s ease-in
      z-index: 6
      p
        font-size: 16px
        font-weight: normal
        font-stretch: normal
        font-style: normal
        line-height: 1.5
        letter-spacing: normal
        text-align: center
        color: #ffffff
    &:hover
      .hover__wrap
        transform: scale(1)


.dotted-title
  font-size: 80px
  font-family: $gothamPro-Bold
  font-weight: bold
  font-stretch: normal
  font-style: normal
  line-height: 1
  letter-spacing: -1.7px
  color: $plain-white
  padding-left: 305px
  margin: 71px 0
  display: flex
  align-items: flex-end
  position: relative
  +mobile
    font-size: 40px
    padding-left: 0
    margin-bottom: 35px
  +tablet
    font-size: 60px
    padding-left: 68px
  +small-laptop
    padding-left: 0
    font-size: 60px
    margin: 61px 0
  +medium-laptop
    padding-left: 65px

  &__dot
    width: 16px
    height: 16px
    display: block
    background-color: $main-color
    margin-bottom: 16px
    margin-left: 7px
    +mobile
      margin-bottom: 8px
      width: 8px
      height: 8px
    +tablet
      width: 12px
      height: 12px
      margin-bottom: 12px
    +small-laptop
      width: 12px
      height: 12px
      margin-bottom: 12px

.overlay-background
  width: 100%
  position: absolute
  height: 595px
  top: 0
  left: 0
  background: rgba(0,0,0,.5)
  +tablet
    height: 100vh

.dimmed-text
  color: #f2f2f2

.mobile-object
  display: none
  +mobile
    display: block
  +tablet
    display: block
  +small-laptop
   display: block
  &.triangle-hub
    background: url('../general/figure_objects/triangleHub.png') center no-repeat
    -webkit-background-size: cover
    background-size: cover
    width: 120px
    height: 120px
    +tablet
      width: 260px
      height: 260px
    +small-laptop
      width: 260px
      height: 260px

  &.shellHub
    background: url('../general/figure_objects/shellHub.png') center no-repeat
    -webkit-background-size: cover
    background-size: cover
    width: 82px
    height: 101px
    +tablet
      width: 260px
      height: 260px
    +small-laptop
      width: 260px
      height: 260px
  &.ringsHub
    background: url('../general/figure_objects/ringsHub.png') center no-repeat
    -webkit-background-size: cover
    background-size: cover
    width: 120px
    height: 120px
    +tablet
      width: 260px
      height: 260px
      margin-bottom: 44px
    +small-laptop
      width: 260px
      height: 260px
      margin-top: 130px

  &.circleBricks
    background: url('../general/circleBricks.png') center no-repeat
    -webkit-background-size: cover
    background-size: cover
    width: 120px
    height: 120px
    +tablet
      width: 260px
      height: 260px
    +small-laptop
      width: 260px
      height: 260px
      margin-top: -170px

.hover-mobile-block
  display: none
  +mobile
    display: block
    width: 100%
    background: $main-color
    margin-bottom: 29px
    padding: 28px 37px
    p
      font-size: 14px
      font-weight: 300
      font-stretch: normal
      font-style: normal
      line-height: 1.57
      letter-spacing: normal
      color: #000000

