/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline


article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
  display: block

body
  line-height: 1
  &.overflow
    overflow: auto

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after,
q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

section
  position: relative

html
  height: 100%

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary
  display: block

section, div
  box-sizing: border-box

body
  font: 12px/18px 'GothamPro', sans-serif
  height: 100%

button
  &:focus
    outline: none

.wrapper
  width: 100%
  min-height: 100%
  height: auto !important
  padding-bottom: 200px
  //height: 100%
  z-index: 1
  animation-name: wrapperToFront
  animation-delay: 2.2s
  animation-direction: normal
  animation-fill-mode: forwards
  +small-laptop
    padding-bottom: 275px


.header
  height: 150px
  background: #FFE680

.content
  padding: 0 0 200px


.footer
  margin: -200px auto 0
  min-width: 1000px
  height: 200px
  background: #000
  position: relative
  +mobile
    min-width: unset
    height: 509px
  +tablet
    min-width: unset
    height: 293px
  +small-laptop
    height: 275px
    margin-top: -275px

  .section-container
    max-width: 1040px
    margin: 0 auto
    padding: 52px 0
    flex-direction: row
    +mobile
      flex-direction: column
    +tablet
      flex-direction: column
      padding: 76.6px 39px 74px 45px
    +small-laptop
      padding: 76px 46px 80px 46px

    .left-side
      display: flex
      +mobile
        flex-direction: column
        padding: 0 27px
      +tablet
        justify-content: space-between

      .logo
        background: url('../general/logo_parts/logo-light.png') center no-repeat
        background-size: cover
        width: 169px
        height: 54px
        margin-right: 114px
        +mobile
          background: url('../general/logo_parts/logo-light-mobile.svg') center no-repeat
          -webkit-background-size: contain
          background-size: contain
          margin-bottom: 94px
      .contact-block
        ul
          li
            font-size: 16px
            font-weight: normal
            font-stretch: normal
            font-style: normal
            line-height: 1.5
            letter-spacing: normal
            color: #ffffff
            a
              @extend li
              text-decoration: none
            +tablet
              font-size: 14px
              line-height: 1.57
              margin-bottom: 8px
            +small-laptop
              font-size: 14px
              line-height: 1.57
              margin-bottom: 8px


    .right-side
      display: flex
      flex-direction: column
      justify-content: space-between
      +mobile
        padding: 0 27px
      +tablet
        flex-direction: row
        align-items: center

      .social-block
        display: flex
        flex-flow: nowrap
        align-items: center
        +mobile
          display: grid
          grid-template-columns: 1fr 1fr 1fr 1fr
          grid-gap: 20px
        +small-laptop
          margin-bottom: 42px

        a
          background-size: cover
          background-position: center
          background-repeat: no-repeat
          margin: 0 19px
          cursor: pointer
          position: relative
          z-index: 12
          +mobile
            margin: 0 auto 0 0
          &:hover
            text-decoration: none
          &.vk
            width: 29px
            height: 16px
            background-image: url('../general/svg_icons/vk.svg')
          &.fb
            width: 12px
            height: 24px
            background-image: url('../general/social_icons/facebook@2x.png')
          &.insta
            width: 20px
            height: 20px
            background-image: url('../general/social_icons/insta@2x.png')
          &.ok
            width: 13px
            height: 23px
            background-image: url('../general/social_icons/ok@2x.png')
          &.twitter
            width: 23px
            height: 20px
            background-image: url('../general/social_icons/twitter@2x.png')
          &.switch
            width: 20px
            height: 20px
            background-image: url('../general/social_icons/switch@2x.png')
          &.youtube
            width: 29px
            height: 20px
            background-image: url('../general/social_icons/youtube@2x.png')
          &:first-child
            margin-left: 0
          &:last-child
            margin-right: 0
            +mobile
              margin-right: auto
          +tablet
            margin: 0 15px
            &.vk,
            &.fb,
            &.insta,
            &.ok,
            &.twitter,
            &.switch,
            &.youtube
              width: 30px
              height: 30px
              background-size: contain

      .company-link
        margin-bottom: 30px
        text-align: right
        .hover-highlight
          &:hover
            color: $main-hover
        +mobile
          margin-bottom: 0
          text-align: left
          margin-top: 40px
        +tablet
          margin-bottom: 0
          margin-right: 20px
          font-size: 14px
          line-height: 1.57

        a
          font-size: 16px
          font-weight: normal
          font-stretch: normal
          font-style: normal
          line-height: normal
          letter-spacing: normal
          text-align: right
          color: #7f7f7f
          text-decoration: none
          &:focus
            text-decoration: none
          &:hover
            text-decoration: none
