#signalTransmission
  .section-container
    flex-flow: row
    justify-content: center
    align-items: center
    +mobile
      flex-direction: column-reverse
      justify-content: flex-end
    +tablet
      flex-direction: column-reverse
      justify-content: flex-end
      align-items: flex-start
      height: auto
      min-height: auto
      padding-bottom: 105px
      padding-top: 105px
    +small-laptop
      height: auto
      min-height: auto
      padding-bottom: 105px
      padding-top: 105px

    .section-title
      margin-bottom: 60px
      +tablet
        font-size: 45px
        line-height: 52px
        letter-spacing: -1.57px

      .dot-highlighted
        +mobile
          line-height: 30px
          max-width: 95%


    .object-container
      overflow: initial
      +tablet
        padding: 0

    .object-wrapper
      display: flex
      align-items: flex-end
      margin-top: 300px
      transform: translateX(-50px)
      position: relative
      +mobile
        display: none
      +tablet
        display: none
      +small-laptop
        display: none

      .fourth-ring
        display: flex
        align-items: center
        justify-content: center
        position: relative
      .circle
        width: 30px
        height: 30px
        background-color: $plain-black
        border-radius: 50%
      .second-ring
        width: 130px
        height: 130px
        display: flex
        align-items: center
        justify-content: center
        border-radius: 50%
        border-top: 15px solid $plain-black
        border-right: 15px solid transparent
        border-bottom: 15px solid transparent
        border-left: 15px solid transparent
        position: absolute
        transform: rotate(50deg)
        top: 90px
        left: 90px
      .third-ring
        width: 230px
        height: 230px
        display: flex
        align-items: center
        justify-content: center
        border-radius: 50%
        border: 15px solid #01da00
        border-top: 15px solid #000
        position: absolute
        transform: rotate(50deg)
        top: 40px
        left: 40px
      .fourth-ring
        width: 310px
        height: 310px
        display: flex
        align-items: center
        justify-content: center
        border-radius: 50%
        border-top: 15px solid $plain-black
        border-right: 15px solid transparent
        border-bottom: 15px solid transparent
        border-left: 15px solid transparent
        transform: rotate(50deg)
